@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

.scoreboard{
    min-height: 100vh;
}

.points p{
    font-family: 'Orbitron',sans-serif;
    font-weight: 400;
    font-size: 80px;
    min-width:205px;
}

.btn-primary {
	background: transparent;
	color: #9aabd8;
	border-color: #9aabd8;
	font-size: 1.5em;
}

.btn-primary:hover,
.btn-primary:active {
	color: #fff;
	background-color: #f94f6d;
	border-color: #f94f6d;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #f94f6d;
	border-color: #f94f6d;
	box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}
